mixin title-bar(title)
  .title-wrapper
    .module-title=title

mixin slash-bar(n, separator)
  .slashes-wrapper
    - for (var i = 0; i<n; i++)
      .slash-unit
    if (separator)
      .separator

-
  var imagePath = 'http://z.dtcj.com/cbndata/';

  var prelude = [
    {
      time: '9:30-9:40',
      type: '活动开场'
    },
    {
      time: '9:40-10:00',
      type: '嘉宾致辞',
      people: [{
        starter: '/致辞嘉宾：',
        name: '李蓉',
        job: '上海文化广播影视集团有限公司副总裁、第一财经董事长'
      }]
    },
    {
      time: '10:00-10:40',
      type: 'D9报告',
      title: '《2017中国互联网消费生态大数据报告》发布',
      people: [{
        name: '黄磊',
        job: 'CBNData总经理'
      }]
    },
    {
      time: '10:40-11:00',
      type: 'D9强音',
      title: '"2017中国互联网消费升级商业力量"发布',
      people: [{
        name: '周健工',
        job: '第一财经CEO'
      }]
    },
    {
      time: '11:00-11:20',
      type: '力量之音',
      title: 'DT时代的全域营销',
      people: [{
        name: '董本洪',
        job: '阿里巴巴集团CMO'
      }]
    },
    {
      time: '11:20-11:40',
      type: '力量之音',
      title: '没有一家公司是熬出来的',
      people: [{
        name: '朱啸虎',
        job: '金沙江创业投资基金董事总经理'
      }]
    }
  ];

  var rhapsodies = [
    {
      tag: '新消费狂享曲',
      items: [
        {
          time: '13:30-13:45',
          type: '演讲独奏',
          title: '让吃变成一种娱乐',
          people: [{
            name: '侯毅',
            job: '盒马鲜生创始人兼CEO'
          }]
        },
        {
          time: '13:45-14:00',
          type: '演讲独奏',
          title: '明星产品养成记',
          people: [{
            name: '顾晨炜',
            job: '挖财总裁'
          }]
        },
        {
          time: '14:00-14:15',
          type: '演讲独奏',
          title: '让城市生活简单点',
          people: [{
            name: '胡滔',
            job: '蚂蚁金服副总裁、芝麻信用总经理'
          }]
        },
        {
          time: '14:15-14:55',
          type: '圆桌和声',
          title: '消费者的新消费',
          people: [
            {
              name: '陈健豪',
              job: '寺库商业CEO'
            },
            {
              name: '王连涛',
              job: '小猪联合创始人兼COO'
            },
            {
              name: '王鑫',
              job: '优信集团CMO'
            },
            {
              name: '黄海',
              job: '峰瑞资本副总裁'
            },
            {
              name: '王小乔',
              job: '第一财经编委、DT财经主编（主持人）'
            }
          ]
        }
      ]
    },
    {
      tag: '新智慧狂享曲',
      items: [
        {
          time: '14:55-15:10',
          type: '演讲独奏',
          title: 'AI赋能消费者',
          people: [{
            name: '章继东',
            job: '科大讯飞高级副总裁'
          }]
        },{
          time: '15:10-15:25',
          type: '演讲独奏',
          title: '用汽车共享解决城市病痛',
          people: [{
            name: '曹光宇',
            job: 'EVCARD分时租车总经理'
          }]
        },
        {
          time: '15:25-16:05',
          type: '圆桌和声',
          title: '科技：让城市更智慧',
          people: [
            {
              name: '南楠',
              job: 'ofo小黄车资深副总裁'
            },
            {
              name: '丁宏伟',
              job: '菜鸟网络首席数据科学家'
            },
            {
              name: '张鹏',
              job: '优客工场首席战略官、执行合作人'
            },
            {
              name: '郭曼',
              job: '航美在线董事会主席兼CEO'
            }
          ]
        }
      ]
    },
    {
      tag: '新跨界狂享曲',
      last: true,
      items: [
        {
          time: '16:05-16:20',
          type: '演讲独奏',
          title: '文化娱乐的新纪元',
          people: [{
            name: '杨振',
            job: '阿里巴巴文化娱乐集团市场高级副总裁'
          }]
        },
        {
          time: '16:20-17:00',
          type: '圆桌和声',
          title: '"IP、内容与数据"：跨界营销新模式',
          people: [
            {
              name: '王镜钥',
              job: '百草味联合创始人兼CMO'
            },
            {
              name: '杨铭',
              job: '泰洋川禾创始人兼CEO、papitube创始人兼CEO'
            },
            {
              name: '马李灵珊',
              job: '五元文化联合创始人'
            },
            {
              name: '高超',
              job: '网易传媒销售运营中心总经理'
            },
            {
              name: '吴立湘',
              job: '娱乐资本论创始人（主持人）'
            }
          ]
        },
        {
          time: '17:00-17:15',
          type: '演讲独奏',
          title: '多彩视界是怎样炼成的',
          people: [{
            name: '韩坤',
            job: '一下科技创始人兼CEO'
          }]
        }
      ]
    }
  ];
