mixin title-bar(title)
  .title-wrapper
    .module-title=title

mixin slash-bar(n, separator)
  .slashes-wrapper
    - for (var i = 0; i<n; i++)
      .slash-unit
    if (separator)
      .separator

-
  var imagePath = 'http://z.dtcj.com/cbndata/';

  var prelude = [
    {
      time: '9:30-9:40',
      type: '开场表演'
    },
    {
      time: '9:40-10:00',
      type: '嘉宾致辞',
      people: [{
        starter: '/致辞嘉宾：',
        name: '高韵斐',
        job: '上海文化广播影视集团有限公司总裁'
      }, {
        starter: '/致辞嘉宾：',
        name: '张勇',
        job: '阿里巴巴集团CEO'
      }]
    },
    {
      time: '10:00-10:40',
      type: '《2017中国互联网消费生态大数据报告》发布'
    },
    {
      time: '10:40-11:20',
      type: '2017中国互联网消费升级商业力量发布'
    },
    {
      time: '11:20-11:40',
      type: '力量之音',
      people: [{
        name: '董本洪',
        job: '阿里巴巴集团CMO'
      }]
    },
    {
      time: '11:40-12:00',
      type: '力量之音',
      people: [{
        name: '朱啸虎',
        job: '金沙江创投董事总经理'
      }]
    },
    {
      time: '12:00-12：20',
      type: '力量之音',
      people: [{
        name: '王小川',
        job: '搜狗公司创始人兼CEO'
      }, {
        name: '傅盛',
        job: '猎豹移动CEO'
      }]
    }
  ];

  var rhapsodies = [
    {
      tag: '新消费狂享曲',
      items: [
        {
          time: '13:30-13:45',
          type: '演讲独奏',
          title: '让吃变成一种娱乐',
          people: [{
            name: '侯毅',
            job: '盒马鲜生CEO'
          }]
        },
        {
          time: '13:45-14:00',
          type: '演讲独奏',
          title: '明星产品养成记',
          people: [{
            name: '顾晨炜',
            job: '挖财总裁'
          }]
        },
        {
          time: '14:00-14:15',
          type: '演讲独奏',
          title: '明星产品养成记',
          people: [{
            name: '胡滔',
            job: '芝麻信用总经理'
          }]
        },
        {
          time: '14:15-14:55',
          type: '圆桌和声',
          title: '消费者的新消费',
          people: [
            {
              name: '陈健豪',
              job: '寺库商业CEO'
            },
            {
              name: '王连涛',
              job: '小猪短租联合创始人兼COO'
            },
            {
              name: '王鑫',
              job: '优信集团CMO'
            },
            {
              name: '黄海',
              job: '峰瑞资本副总裁'
            },
            {
              name: '王小乔',
              job: 'DT财经主编（主持人）'
            }
          ]
        }
      ]
    },
    {
      tag: '新智慧狂享曲',
      items: [
        {
          time: '14:55-15:10',
          type: 'CEO对谈',
          title: '我们并不了解人工智能',
          people: [{
            name: '章继东',
            job: '科大讯飞高级副总裁'
          }]
        },{
          time: '15:10-15:25',
          type: '演讲独奏',
          title: '明星产品养成记',
          people: [{
            name: '曹光宇',
            job: 'EVCARD分时租车总经理'
          }]
        },
        {
          time: '15:25-16:05',
          type: '圆桌和声',
          title: '科技：让城市更智慧',
          people: [
            {
              name: '南楠',
              job: 'ofo小黄车资深副总裁'
            },
            {
              name: '王文彬',
              job: '菜鸟网络CTO'
            },
            {
              name: '郭曼',
              job: '航美在线集团董事会主席兼CEO'
            },
            {
              name: '岳建雄',
              job: '凤凰网副总裁、凤凰新闻客户端总经理（主持人）'
            }
          ]
        }
      ]
    },
    {
      tag: '新跨界狂享曲',
      last: true,
      items: [
        {
          time: '16:30-16:45',
          type: '演讲独奏',
          title: '内容创造者们在坚持什么？',
          people: []
        },
        {
          time: '16:45-17:45',
          type: '圆桌和声',
          title: '"IP、内容与数据"：跨界营销新模式',
          people: [
            {
              name: '李安',
              job: '网易新闻市场部总经理'
            },
            {
              name: '王镜钥',
              job: '百草味CMO'
            },
            {
              name: '杨铭',
              job: '泰洋川禾创始人、Papitube CEO'
            },
            {
              name: '马李灵珊',
              job: '五元文化联合创始人、《白夜追凶》出品人'
            },
            {
              name: '吴立湘',
              job: '娱乐资本论创始人（主持人）'
            }
          ]
        },
        {
          time: '17:45-18:00',
          type: '演讲独奏',
          title: '',
          people: []
        }
      ]
    }
  ];
