mixin title-bar(title)
  .title-wrapper
    .module-title=title

mixin slash-bar(n, separator)
  .slashes-wrapper
    - for (var i = 0; i<n; i++)
      .slash-unit
    if (separator)
      .separator

-
  var imagePath = 'http://z.dtcj.com/cbndata/';

  var prelude = [
    {
      time: '9:30-9:40',
      type: '活动开场'
    },
    {
      time: '9:40-9:50',
      type: '嘉宾致辞',
      people: [{
        starter: '/致辞嘉宾：',
        name: '李蓉',
        job: '上海文化广播影视集团有限公司副总裁、第一财经董事长'
      }]
    },
    {
      time: '9:50-10:30',
      type: 'D9报告',
      title: '《2017中国互联网消费生态大数据报告》发布',
      people: [{
        name: '杨钦',
        job: 'CBNData首席数据分析师'
      }]
    },
    {
      time: '10:30-10：50',
      type: 'D9强音',
      title: '"2017中国互联网消费升级商业力量"发布',
      people: [{
        name: '周健工',
        job: '第一财经CEO'
      }]
    },
    {
      time: '10:50-11:20',
      type: '狂享对谈',
      title: '消费升级时代的下一只独角兽在哪里？',
      people: [{
        name: '朱啸虎',
        job: '金沙江创业投资基金董事总经理'
      },{
        name: '王洋',
        job: 'CBNData首席运营官'
      }]
    }
  ];

  var rhapsodies = [
    {
      tag: '新消费狂享曲',
      items: [
        {
          time: '13:30-13:45',
          type: '演讲独奏',
          title: '新需求，新零售',
          people: [{
            name: '陈冬青',
            job: '盒马北京公司总经理'
          }]
        },
        {
          time: '13:45-14:00',
          type: '演讲独奏',
          title: '新消费，新金融',
          people: [{
            name: '顾晨炜',
            job: '挖财总裁'
          }]
        },
        {
          time: '14:00-14:15',
          type: '演讲独奏',
          title: '让城市生活简单点',
          people: [{
            name: '李丛杉',
            job: '芝麻信用副总经理'
          }]
        },
        {
          time: '14:15-14:55',
          type: '圆桌和声',
          title: '消费者的新消费',
          people: [
            {
              name: '陈健豪',
              job: '寺库商业CEO'
            },
            {
              name: '王连涛',
              job: '小猪联合创始人兼COO'
            },
            {
              name: '王鑫',
              job: '优信集团CMO'
            },
            {
              name: '杨静怡',
              job: '寺库集团CMO'
            },
            {
              name: '黄海',
              job: '峰瑞资本副总裁'
            },
            {
              name: '王小乔',
              job: '第一财经编委<br>DT财经主编（主持人）'
            }
          ]
        }
      ]
    },
    {
      tag: '新智慧狂享曲',
      items: [
        {
          time: '15:05-15:20',
          type: '演讲独奏',
          title: 'AI赋能消费者',
          people: [{
            name: '诸敬',
            job: 'EVCARD分时租车副总经理'
          }]
        },
        {
          time: '15:20-16:00',
          type: '圆桌和声',
          title: '科技：让城市更智慧',
          people: [
            {
              name: '南楠',
              job: 'ofo小黄车资深副总裁'
            },
            {
              name: '丁宏伟',
              job: '菜鸟网络首席数据科学家'
            },
            {
              name: '张鹏',
              job: '优客工场首席战略官、执行合伙人'
            },
            {
              name: '郭曼',
              job: '航美在线集团董事会主席兼CEO'
            },
            {
              name: 'Sam Lee',
              job: 'Blockchain Global区块链集团创始人兼CEO'
            },
            {
              name: '刘佳',
              job: '凤凰新闻客户端副总经理（主持人）'
            }
          ]
        },
        {
          time: '16:00-16:15',
          type: '演讲独奏',
          title: '',
          people: [{
            name: '刘松林',
            job: '科大讯飞副总裁'
            }
          ]
        }
      ]
    },
    {
      tag: '新跨界狂享曲',
      last: true,
      items: [
        {
          time: '16:25-17:05',
          type: '圆桌和声',
          title: '跨界的力量：IP、内容与数据',
          people: [
            {
              name: '王镜钥',
              job: '百草味联合创始人兼CMO'
            },
            {
              name: '杨铭',
              job: '泰洋川禾创始人兼CEO<br>papitube联合创始人兼CEO'
            },
            {
              name: '马李灵珊',
              job: '五元文化联合创始人<br>《白夜追凶》出品人'
            },
            {
              name: '高超',
              job: '网易传媒销售运营中心总经理'
            },
            {
              name: '吴立湘',
              job: '娱乐资本论创始人（主持人）'
            }
          ]
        }
      ]
    }
  ];
