include _common

#about
  .pc-only
    +slash-bar(20)
  .content
    .text
      span.pf-Medium 第一财经商业数据中心（CBNData）
      span 是基于大数据进行智能化商业研究咨询与整合营销传播的战略数据平台，依托阿里巴巴和第一财经的优势资源，拥有全球最大消费者数据库和中国最大的财经全媒体集群。第一财经商业数据中心（CBNData）以商业数据报告/微报告、数据指数、定制化咨询等为核心产品，输出消费行业的全景分析以及面向企业和消费者的深度数据洞察；同时通过数据可视化、原生内容、活动、视频/直播等形式拓展数据研究的业务边界，丰富数据商业化的应用场景，以数据加媒体的倍增效应，全面提升中国商业世界的运行效率。
    .qr
