<div>
  <div class="counter clearfix">
    <div class="score">
      得分:
      <span class="score-count">0</span>
    </div>
    <div class="time">
      时间: 00:
      <span class="time-count">10</span>
    </div>
  </div>
  <div class="game game-show">
    game1
    <div data-role="littleD" data-nextgame="1">littleD</div>
  </div>
  <div class="game">
    game2
    <div data-role="littleD" data-nextgame="2">littleD</div>
  </div>
  <div class="game">
    game3
    <div data-role="littleD" data-nextgame="3">littleD</div>
  </div>
  <div class="game">
    game4
    <div data-role="littleD" data-nextgame="4">littleD</div>
  </div>
  <div class="game">
    game5
    <div data-role="littleD" data-nextgame="5">littleD</div>
  </div>
  <div class="game">
    game6
    <div data-role="littleD" data-nextgame="6">littleD</div>
  </div>
  <div class="game">
    game7
    <div data-role="littleD" data-nextgame="7">littleD</div>
  </div>
  <div class="game">
    game8
    <div data-role="littleD" data-nextgame="8">littleD</div>
  </div>
  <div class="game">
    game9
    <div data-role="littleD" data-nextgame="9">littleD</div>
  </div>
  <div class="game">
    game10
    <div data-role="littleD" data-nextgame="10">littleD</div>
  </div>
</div>
