include _common
head

  meta(charset="UTF-8")
  meta(name="description" content="")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="renderer" content="webkit")
  meta(name="viewport" content="width=device-width user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title.
    未来狂享曲·第一财经数据盛典
  link(rel="stylesheet" href="assets/styles.css")
  link(rel="stylesheet" href="//cdn.bootcss.com/video.js/7.0.3/video-js.min.css")
  link(rel="icon" href=`${imagePath}icons/icon.png`)
  script(async).
    if (window.location.href.indexOf('z.dtcj.com') >= 0 ) {
      location.href = 'http://z.cbndata.com/cbndata/fiesta/2017';
    }
