.page4 {
  overflow-y: auto;
  transform: initial;

  .jumbotron {
    height: 3.77rem;
    background: url('../assets/page4/jumbotron.png') no-repeat center/contain;
  }

  .content {
    background-color: #000;
    padding-bottom: 1.13rem;
    padding-top: 0.55rem;

    .title {
      margin-bottom: 0.3rem;
      font-size: 0.4rem;
      text-align: center;
    }
  }

  .schedule {
    height: 6.09rem;
    margin: 0 0.1rem 0.6rem;
    background-image: url('../assets/page4/schedule.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }

  .btn-wrapper {

    .btn {
      width: 1.96rem;

      & + .btn {
        margin-left: 0.83rem;
      }
    }
  }

  .share-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;

    .share-tip {
      float: right;
      margin-top: 0.5rem;
      margin-right: 0.2rem;
      color: #fff;
      font-size: 0.5rem;
      text-align: center;
    }

    svg {
      width: 0.87rem;
      height: 1.13rem;
    }

    &.show {
      display: block;
    }
  }
}