.page1 {

  .jumbotron {
    height: 3.04rem;
    padding: 1.25rem 0.5rem 0;
    font-size: 0.36rem;
    line-height: 1.5;
    background-image: url('../assets/page1/jumbotron.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
  }

  .tip {
    font-size: 0.3rem;
    line-height: 1.5;
  }

  .logo {
    margin-top: 0.1rem;

    svg {
      width: 2.13rem;
      height: 0.83rem;
    }
  }

  .btn-wrapper {
    margin-top: 1rem;

    @media (max-height: 480px) {
      margin-top: 0.37rem;
    }
  }

  .userId {
    display: inline-block;
    margin: 0 0.1rem;
  }
}
