.btn {
  display: inline-block;
  width: 2.62rem;
  height: 0.72rem;
  text-align: center;
  background-color: var(--brand-color);
  color: #fff;
  font-size: 0.34rem;
  border: 0;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
