@import "variables";
@import "mixins";

.allies-logo-container {
  @include my-flex($direction: column);
  font-family: PingFangSC-Regular;

  .row-block {
    @include my-flex($direction: column, $justify: flex-start, $align: flex-start);
    @media #{$PC} {
      width: 820px;
      .allies-title {
        display: inline-block;
        width: 25%;
        margin: 1rem 0;
        font-size: 14px;
        color: #137CFF;
      }
    }
    @media #{$mobile} {
      width: 100%;
      .allies-title {
        display: inline-block;
        width: 25%;
        margin: 8px 0;
        font-size: 14px;
        color: #137CFF;
      }
      .title-bar {
        padding-left: 8px;
      }
    }

    .title-bar {
      width: 100%;
    }

    .logos-row {
      width: 100%;
      @include my-flex($direction: row, $wrap:wrap, $justify: flex-start);

      .logo-unit {
        background: url(../images/logo-frame.png) no-repeat;
        background-size: 100%;

        @media #{$PC} {
          width: 205px;
          height: 72px;
          margin: 0 0 1.5rem 0;

        }

        @media #{$mobile} {
          $width: 25vw;
          width: $width;
          height: $width/2.85;
          margin: 0 0 2vw 0;
          text-align: center;
          .logo-img {
            position: relative;
            top: 5%;
            width: 90%;
            height: 90%;
          }

        }

      }

    }


  }


}