@import 'variables';
@import 'mixins';

.footer {
  margin: 0 0 0 0;
  @include my-flex();

  @media #{$PC} {
    @include div-with-bgImage('../images/nav-bg.png');
    transform: scaleY(-1);
    width: 100%;
    min-height: 120px;
    font-size: 16px;

    .footer-content {
      transform: scaleY(-1);

      .rows {
        @include my-flex($justify:flex-start);
      }
    }
  }

  .footer-content {
    @include my-flex($direction: column, $align:flex-start);
    color: #137CFF;
  }

  .info {
    margin-right: 2rem;
    color: #fff;
  }

  @media #{$mobile} {
    background-image: url('../images/mobile/footer-frame.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100px;
    font-size: 12px;

    .footer-content {
      position: relative;
      top: 6px;
    }
  }

}