@import "variables";
@import "mixins";

.news-border-wrapper {
  position: relative;

  .news-container {
    margin: auto;
    .news-item {
      font-size: 14px;
      /*animation-duration: 0.9s;
      animation-delay: 0.9s;*/
    }

  }

  @media #{$PC} {

    margin: 0 auto 80px auto;
    width: 698px;

    .news-container {
      @include my-flex($direction: column, $justify: flex-start, $align:flex-start);

      padding: 32px 24px;
      width: 698px;
      height: 368px;
      @include div-with-bgImage('../images/bg-news.png');

      .news-item {
        z-index: 1;
        width: 100%;
        transition-duration: 0.2s;
        @include my-flex($direction: row, $justify: space-between);
        margin: 0.3rem 0;
        &:hover {
          background: blue;
          cursor: pointer;

        }

      }

    }

  }

  @media #{$mobile} {
    margin: 0 auto 15% auto;

    .news-container {
      @include my-flex($direction: column, $justify: space-around, $align:flex-start);

      padding: 16px 8px;
      width: 94vw;
      height: 190vw;
      @include div-with-bgImage('../images/mobile/bg-news-mobile.png');

      .news-item {
        display: block;
        position: relative;
        width: 100%;
        height: 48px !important;
        margin: 1px 0;
        font-size: 13px;
        line-height: 14px;
        @include my-flex($direction: column, $justify: space-around, $align:flex-start);

      }
    }

    @media #{$iphone5} {
      .news-container {
        height: 220vw;
        .news-item {
          font-size: 12px;
        }
      }
    }

  }

  .shiny-dots {
    @media #{$PC} {
      right: 0;
      left: -410px;
      top: -210px;
    }
    @media #{$mobile} {
      left: -100px;
      top: 20px;
    }
  }

}

