@import "variables";
@import "mixins";

.news-border-wrapper {
  position: relative;
  @include my-flex($direction: column, $justify: center, $align:center);

  .news-container {
    margin: auto;
    overflow: hidden;
    .news-item {
      font-size: 14px;
      z-index:20;
    }
  }

  @media #{$PC} {
    @include div-with-bgImage('../images/bg-news.png');
    $gap-h: 12px;
    $gap-v: 30px;
    $height-pc: 408px;
    $width-pc: 698px;
    margin: 0 auto 80px auto;
    width: $width-pc;
    height: $height-pc;
    .news-container {
      margin: $gap-v $gap-h;
      width: $width-pc - $gap-h*2.5;
      height: $height-pc - $gap-v*2;
      .news-item {
        padding: 0 $gap-h/2;
        width: 100%;
        display: block;
        height: 34px;
        line-height: 34px;
        &:hover {
          background: blue;
          cursor: pointer;
        }
        .news-title {
          float: left;
        }
        .news-date {
          float: right;
        }
      }
    }
  }

  @media #{$mobile} {
    margin: 0 auto 15% auto;
    width: 94vw;
    height: 680px;
    @include div-with-bgImage('../images/mobile/bg-news-mobile.png');

    .news-container {
      margin-top: 10px;
      padding: 0 10px;
      height: 640px;
      overflow: hidden;
      .news-item {
        display: block;
        width: 100%;
        height: 48px !important;
        margin: 16px 0;
        font-size: 13px;
        line-height: 14px;
        @include my-flex($direction: column, $justify: space-around, $align:flex-start);
      }
    }

    @media #{$iphone5} {
      .news-container {
        //height: 220vw;
        .news-item {
          font-size: 12px;
        }
      }
    }

  }

  .shiny-dots {
    @media #{$PC} {
      right: 0;
      left: -410px;
      top: -210px;
    }
    @media #{$mobile} {
      left: -100px;
      top: 20px;
    }
  }

}

