
// device geometry related
$mobile: "(max-width: 720px)";
$iphone5: "(max-width: 320px)";
$iphone6: "(max-width: 375px)";
$iphone6p: "(max-width: 414px)";
$PC: "(min-width: 720px)";
$PC-small: "(max-width: 1000px)";
$tablet: "(max-width: 880px)";

// theme-related
$bg-color: #031024;
$theme-color: #52CBFF;
