@import 'utils';
@import 'mixins';
@import 'variables';

#cover-page {
  margin-bottom: 120px;

  @media #{$mobile} {
    margin-top: 48px;
    .cover-bg {
      position: relative;
      top: -48px;
      @include bg-img($url: $assets-url + 'bg/bg-cover-mobile.png');
      $HW_Ratio: 1028/640;
      width: 100vw;
      height: 100vw * $HW_Ratio;
    }
  }

  @media #{$PC} {
    .cover-bg {
      @include bg-img($url: $assets-url + 'bg/bg-home.png', $size: 90%);
      background-position: center 0;
      $HW_Ratio: 1612/2880;
      width: 100vw;
      height: 100vw * $HW_Ratio;
    }
  }


  .info-wrapper {
    font-family: DIN-Medium;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    .date {
      @include Underline();
      margin-bottom: 75px;
      letter-spacing: -2px;
    }
    .city {
      letter-spacing: -1.34px;
      margin-bottom: 75px;
      @include Underline();
    }

    .preview {
      cursor: pointer;
      @include Underline();
    }

    @media #{$PC} {
      @include abs-locate-vw(84, 192);
      @include Flex(column, flex-start, flex-start);
      font-size: 48px;

    }

    @media #{$mobile} {
      @include abs-locate-vw(0, 1960);
      @include Flex(column, flex-start, center);
      width: 100%;
      font-size: 6vw;
      .date {
        margin-bottom: 25px;
      }
      .city {
        margin-bottom: 25px;
      }
    }


  }

  .content-wrapper {
    position: relative;

    .content-bg {
      position: absolute;
      top: -7vw;
      z-index: -1;
      width: 100vw;
      @include Flex(row, space-between, center);
      overflow: hidden;
      .bg-mountain {
        @include bg-geom(bg-mountain, 533px, 327px, $size: contain);
        &:last-of-type {
          transform: scaleX(-1) translate(-5vw, 6vw);
        }

      }
    }

    margin-top: 32px;
    @include Flex(column, flex-start, center);

    .title-wrapper {
      @include Flex(column, flex-start, center);
      margin-bottom: 32px;
      .module-title {
        @include module-title(white, 48px);
      }

    }

    .text-wrapper {
      font-size: 16px;
      max-width: 566px;
      text-align: center;
      @media #{$mobile} {
        text-align: start;
      }
      padding: 0 18px;
      .text-detail {
        color: rgba(255, 255, 255, 0.90);
        letter-spacing: -0.45px;
        margin-bottom: 10px;
      }
    }

  }

  .preview-video-wrapper {
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, .6);
    display: none;
    &.visible {
      @include Flex(row, center, center);
      .preview-video {
        transform: scaleY(1);
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .preview-video {
      transition: all .3s ease;
      transform: scaleY(0);
      transform-origin: top left;
      opacity: 0;
      max-width: 100%;
      width: 830px;
      height: 480px;
      margin: auto auto;
      border-radius: 5px;
      box-sizing: border-box;
      .close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 1000;
        top: 0;
        right: 0;
        transform: translateX(80%) translateY(-60%);
        border-radius: 50%;
        background: rgba(0, 0, 0, .5);
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        @media #{$mobile} {
          transform: translateX(0%) translateY(-80%);
        }
        &:after {
          content: '+';
          color: #fff;
          font-size: 25px;
          line-height: 30px;
          height: 30px;
          width: 30px;
          box-sizing: border-box;
          display: inline-block;
          transform: rotate(45deg) translateY(-2px);
        }
      }
      @include Flex(row, center, center);
      video {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }
    }

    @media #{$mobile} {
      .preview-video {
        width: 100vw;
        height: 60vw;
      }
    }
  }
}
