@import "mixins";
@import "variables";
@import "navigation";
@import "footer";
@import "fold-line";
@import "leaders";
@import "allies";
@import "news";
@import "about-cbndata";
@import "mobile";
@import "common";
@import "circle-nav";

* {
  box-sizing: border-box;
}

html {
  background: #0c1220;
}

body {
  width: 100%;
  height: auto;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: $theme-color;
  position: relative;

}

a {
  text-decoration: none;
  color: $theme-color;
}

img, .image {
  max-width: 100%;
  margin: auto;
}

.video-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.video-img-mobile {
  width: 100vw;
  height: 100vh;
  @include div-with-bgImage($url: '../images/banner_mobile.jpg');
}

.logo-top-mobile {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 100px;
  @include my-flex($justify: center);
  a:first-of-type {
    &:after {
      position: relative;
      top: -4px;
      content: '';
      height: 26px;
      display: inline-block;
      font-size: 20px;
      width: 0;
      border-right: 1px solid #fff;
    }
  }
  a {
    display: inline-block;
    @include my-flex();
    img {
      width: 100px;
      height: 40px;
    }
  }
}

.btn-scroll-down {
  @include div-with-bgImage($url: '../images/hex-single.png');
  position: absolute;
  margin: auto;

  $size: 8%;
  width: $size;
  height: $size * 1.6;
  left: 50% - $size/2;
  top: 80%;
  &:hover {
    cursor: pointer;
    background-image: url('../images/hex-single-hover.png');
  }

  @media #{$mobile} {
    $size: 16%;
    width: $size;
    height: $size * 0.56;
    left: 50% - $size/2;
    top: 80%;
  }

  .arrows-button {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    animation-name: arrow-toggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    $distance-jump: 18%;
    top: -$distance-jump/2;

    @keyframes arrow-toggle {
      0%, 20%, 50%, 80%, 100% {
        top: $distance-jump;
      }
      40% {
        top: 0;
      }
      60% {
        top: $distance-jump/2.5;
      }
    }

    .arrow {
      backface-visibility: hidden;
      background: url(../images/arrow_single.png) no-repeat center;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;

      $distance: 10%;
      $top-first: -10%;
      &.arrow0 {
        top: $top-first
      }
      &.arrow1 {
        top: $top-first + $distance;
      }
      &.arrow2 {
        top: $top-first + $distance * 2;
      }

    }

  }

}

.pages-wrapper {
  background: url(../images/bg-grid.png) repeat;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pages {
  position: relative;
  width: 100vw;
  min-width: 100%;
  overflow: visible;
  @media #{$PC} {
    min-height: 100vw * 9/16;
  }
}
#page6 {
  min-height: 0;
}

#page2 {
  @include my-flex($direction: column, $justify: space-around)
}

.flex-center {
  @include my-flex();
}

.title {
  margin: auto;
  width: 280px;
  height: 127px;
}
.title-about-fiesta {
  @include div-title-img($url:'../images/title-about-fiesta.png');
}
.title-agenda {
  @include div-title-img($url:'../images/title-agenda.png');
  position: relative;
  top: 1vw;
  @include line-under-title();
}
.title-leaders {
  @include div-title-img($url:'../images/title-leaders.png');
}
.title-allies {
  @include div-title-img($url:'../images/title-allies.png');
}
.title-news {
  @include div-title-img($url:'../images/title-news.png');
  position: relative;
  @include line-under-title();
}
.title-about-cbndata {
  @include div-title-img($url:'../images/title-about-cbndata.png', $width: 326px, $height: 127px);
  @media #{$mobile} {
    width: 42vw;
    height: 10vh;
  }
}

.content-wrapper {
  position: relative;
  @media #{$PC} {
    margin: 2rem 0;
  }
  @media #{$mobile} {
    margin: 0.5rem 0;
  }
}

.title-img-wrapper {
  width: 100%;
  position: relative;
  top: -3.6vw;
}
.figure-top-right-wrapper {
  position: relative;
  top: 3vw;
  right: 0;
  @include my-flex($justify:flex-end);
}

.figure-top-left-wrapper {
  position: relative;
  top: 2vw;
  left: 0;
  @include my-flex($justify:flex-end);
  transform: scaleX(-1);
}

.img-above-title {
  $width: 723px;
  $height: 146px;
  $size-factor: 0.55;
  width: 100vw * $size-factor;
  height: 100vw * $size-factor * $height/$width;
  max-width: 60vw;
  max-height: 60vw * $height/$width;
  @include div-with-bgImage('../images/polyline-figure.svg');
}

.about-fiesta {

  @media #{$PC} {

    p {
      margin: 10px 0;
      font-size: 15px;
      font-weight: 400;
    }

    @include img-responsive($width: 828px, $height: 335px);
    @include div-with-bgImage('../images/about-fiesta.png');
    @include my-flex($direction: column, $justify:space-around, $align: flex-start);
    padding: 1rem 1rem 1rem 3rem;
  }
  @media #{$mobile} {
    padding: 1rem;
    width: 100%;
  }
}
.img-agenda-fiesta {
  margin: auto;
  @media #{$PC} {
    position: relative;
    width: 1056px;
    height: 1035px;
    @include div-with-bgImage('../images/fiesta-agenda-v1202.png');
  }
}

.img-agenda-wrapper {
  position: relative;
}
.shiny-dots {
  position: absolute;
  top: -220px;
  right: -230px;
  overflow: hidden;
  content: '';
  display: inline-block;
  width: 658px;
  height: 440px;
  @include div-img-responsive($width:658px, $height: 440px, $url: '../images/shiny-dots.png');
  @media #{$mobile} {

  }
}

.agenda-mobile {
  img {
    width: 100%;
  }
}
.img-leaders-fiesta {
  @include img-responsive($width: 1531px, $height: 743px);
  @include div-with-bgImage('../images/fiesta-leaders.png');
}
.img-allies-fiesta {
  @include img-responsive($width: 831px, $height: 1143px);
  @include div-with-bgImage('../images/fiesta-allies.png');
}
.img-news-fiesta {
  @include img-responsive($width: 698px, $height: 371px);
  @include div-with-bgImage('../images/fiesta-news.png');
}
.img-about-cbndata {
  @include img-responsive($width: 698px, $height: 537px);
  @include div-with-bgImage('../images/about-cbndata.png');
}

.about-cbndata-mobile {
  padding: 0 2%;
  margin: 0 auto 24px auto;
}

.video2-wrapper {
  @media #{$PC} {
    margin: 0 auto 4rem auto;
    width: 828px;
    position: relative;

  }
  @media #{$mobile} {
    width: 100%;
    padding: 0 1rem;
  }

}

.float-element-1 {
  @include div-img-responsive($width: 370px, $height:370px, $url: '../images/float-element-1.png');
  position: absolute;
  top: 200px;
  left: -280px;
}
.float-element-2 {
  @include div-img-responsive($width: 370px, $height:370px, $url: '../images/float-element-2.png');
  position: absolute;
  top: 100px;
  right: -200px;
}


.btn-to-top {
  position: fixed !important;
  display: none;
  right: 3rem;
  bottom: 14%;
  $btn-size: 50px;
  width: $btn-size;
  height: $btn-size;
  @include div-with-bgImage('../images/btn-goto-top.png');
  z-index: 200;
  &:hover {
    cursor: pointer;
  }
  transition-duration: 0.8s;
}

.video2-frame {
  @media #{$PC} {
    @include div-with-bgImage('../images/video-frame.png');
  }
  @media #{$mobile} {
    @include div-with-bgImage('../images/video-placeholder.png');

  }
  position: relative;
  @include my-flex();

  @media #{$PC} {
    width: 100%;
    height: 516px;
  }
  @media #{$mobile} {
    width: 100vw;
    height: 62vw;
  }

  .video2 {
    position: relative;
    z-index: 50;
    box-shadow: 0 0 8px #0b6de9;
    @media #{$PC} {
      top: -6px;
    }
    @media #{$mobile} {
      top: -0.5vw;
    }
  }

}